:root {
	--text-color: #aaa;
	--background-color: #000;
	--link-color: #ffd100;
	--loading-color: rgba(255 255 255 / 75%);
	--tabbed-background-color: #141414;
	--tabbed-checked-text-color: #fff;
	--tabbed-checked-background-color: #262626;
	--tabbed-content-background-color: #1b1b1b;
}
