:root {
	--text-color: #AAAAAA;
	--background-color: #000000;
	--link-color: #FFD100;
	--loading-color: rgba(255, 255, 255, 0.75);
	--tabbed-background-color: #141414;
	--tabbed-checked-text-color: #FFFFFF;
	--tabbed-checked-background-color: #262626;
	--tabbed-content-background-color: #1B1B1B;
}