:root {
	--text-color: #333;
	--background-color: #bebebe;
	--link-color: #2959d3;
	--loading-color: rgb(0 0 0 / 75%);
	--tabbed-background-color: rgb(190 190 190);
	--tabbed-checked-text-color: #000;
	--tabbed-checked-background-color: rgb(160 160 160);
	--tabbed-content-background-color: rgb(201 201 201);
}
